@import "tailwindcss";

@layer utilities {
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-up 1s ease-in-out forwards;
  }
}

@font-face {
  font-family: "Anton";
  src: url("../assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Antonio";
  src: url("../assets/fonts/Antonio/Antonio-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Antonio Bold";
  src: url("../assets/fonts/Antonio/static/Antonio-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni Moda Italic";
  src: url("../assets/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bodoni Moda";
  src: url("../assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Marcellus Regular";
  src: url("../assets/fonts/Marcellus/Marcellus-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces 72pt Thin Italic";
  src: url("../assets/fonts/Fraunces/static/Fraunces_72pt-ThinItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fraunces 72pt Light Italic";
  src: url("../assets/fonts/Fraunces/static/Fraunces_72pt_SuperSoft-ThinItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/static/OpenSans-Regular.ttf")
    format("truetype");
}

::selection {
  background-color: #c82c5e;
  color: #f8fff6;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #f3477d;
    color: #e8ffe0;
  }
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
    font-family: "Poppins";
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
    font-family: "Antonio";
  }
}

html {
  min-width: 360px;
}

.prose {
  @apply mt-32;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-400;
  &.title {
    @apply text-neutral-200;
  }
}

.prose h1 {
  @apply text-3xl font-medium text-neutral-200 tracking-tight mt-6 mb-12;
  letter-spacing: 0.005em;
}

.prose h2 {
  @apply text-2xl font-medium tracking-tight mt-6 mb-2;
  letter-spacing: 0.0025em;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
  letter-spacing: 0.00125em;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6 text-neutral-400;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose b {
  @apply text-neutral-200 underline;
}

.prose button {
  @apply font-bold;

  &.green-style {
    position: relative;
    overflow: hidden; /* Ensures content doesn't go outside button */

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 2px solid #e5e5e5;
      z-index: -1;
      transition: all 0.5s ease-in-out; /* Smooth transition */
      border-radius: 50px;
    }

    &:hover::before {
      border: 100px solid #e5e5e5; /* Expands from inside */
      border-radius: 0px;
    }
  }
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  /* margin-top: 1.25em !important; */
  /* margin-bottom: 1.25em !important; */
}

.prose div.previous-next-work-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  a {
    cursor: pointer;
  }
}

.font-anton {
  font-family: "Anton", sans-serif;
}
.font-bodoni-moda-i {
  font-family: "Bodoni Moda Italic";
}
.font-bodoni-moda {
  font-family: "Bodoni Moda";
}
.font-fraunces-thin-i {
  font-family: "Fraunces 72pt Thin Italic";
}
.font-fraunces-light-i {
  font-family: "Fraunces 72pt Light Italic";
}
.poppins {
  font-family: "Poppins";
  &.bold {
    font-weight: bold;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
